.restaurant-title{
	font-weight: 500;
}

.btn-city{
	text-align: center;
	padding: 15px;
	border: 1px solid #ff7400;
	color: #ff7400;
	margin-top: 15px;
	margin-bottom: 15px;
}

.btn-restaurant{
	text-align: left;
	padding: 15px;
	border: 1px solid #ff7400;
	color: #333;
	margin-top: 15px;
	margin-bottom: 15px;
}

a .btn-city:hover{
	color: white;
	background-color: #ff7400;
}

a .btn-city:active{
	color: white;
	background-color: #ff7400;
}

a .btn-city:visited{
	color: white;
	background-color: #ff7400;
}