.reviewlisting h4{
	margin-top: 0;
}

.sectiontitle {
	font-size: 16px;
}

.tab-pane {
	margin-top: 15px;
}

.nav li[role=presentation]{
    position: relative;
    display: block;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
    font-weight: 500;
}

.nav li[role=presentation] a{
    position: relative;
    display: block;
    padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    margin-right: 15px;
}
ul.categories{
	padding: 0px;
}

ul.times{
	padding: 0;
}

ul.times span{
	padding-right: 15px;
}

ul.times li{
	list-style-type:none;
}
.categories li{
	padding-top: 15px;
	font-size: 16px;
}

.categories a{
	color: #333;
}

.categories a:hover{
	text-decoration: underline;
}

.nav>li[role="presentation"]>a {
	padding: 0;
}

.btn-order{
	margin-top: 10px;
	margin-bottom: 43px;
}

.btn-order-mobile{
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-order-now{
	margin-top: 50px;
}
#ordermenu {
	height: 600px;
	overflow-y: scroll;
	overflow-x: hidden;
}

#ordermenu::-webkit-scrollbar { 
    display: none; 
}

h3#category1.menucategory{
	margin-top: 0;
}
.menuitemlisting{
	width: 100%;
}
.menuitem{width: 80%;
float: left:;}

.itemprice{

}

