.margin-auto{
	margin: 0 auto;
	float: none;
}

.paymentsummary{
	margin-top: 48px;
	border: 1px solid;
	padding-top: 16px;
}

h4.panel-title a{
	color: #333;
}

.no-padding{
	padding-left: 0;
	padding-right: 0;
}

.panel-heading{
	padding-left: 0;
	padding-right: 0;
}

.panel-body{
	padding-left: 0;
	padding-right: 0;
}

.form-select{
	width: 90px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
}
.no-padding{
	padding-left: 15px;
	padding-right: 15px;
}


  @media (max-width: 991px){
.no-padding{
	padding-right: 0;
	padding-left: 0;
}
    }