.file-upload{
	margin-top: 32px;
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  cursor: pointer;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 2px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\F153";
}

.rating > label { 
  color: #ddd; 
 float: right;
   cursor: pointer;

}

.hours{
  width: 200px;
}

.days{
  margin-right: 10px;
}
.rating > input:checked ~ label, 
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label { color: #ff7400;  } 

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, 
.rating > input:checked ~ label:hover ~ label { color: #ff4d00;  } 